[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/shargo
[access "refs/for/refs/*"]
	read = group user/shargo
	push = group user/shargo
	label-Code-Review = -2..+2 group user/shargo
	label-Verified = -1..+1 group user/shargo
	rebase = group user/shargo
	removeReviewer = group user/shargo
	submit = group user/shargo
[access "refs/heads/*"]
	read = group user/shargo
	create = group user/shargo
	push = +force group user/shargo
	pushMerge = group user/shargo
[access "refs/tags/*"]
	push = +force group user/shargo
	pushTag = group user/shargo
	pushSignedTag = group user/shargo
